
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3.4.26/dist/vue.global.js"></script>
    <title>Videojuegos</title>
</head>
<body>
<h1 id="titulo">Administración de videojuegos</h1>
<div id="app" class="contenedor">

    <div id="contNuevo">
        <h2 id="subtitulo"><strong>Nuevo videojuego</strong></h2>

        <div id="carga">
            <label id="label">Nombre</label><br>
            <input type="text" v-model="newGame.name" required><br>
            <label id="label">Plataforma</label><br>
            <select v-model="newGame.platform" class="form-select-sm" aria-label="Default select example" required>
                <option disabled value="">Seleccione una plataforma</option>
                <option value="PC">PC</option>
                <option value="PlayStation">PlayStation</option>
                <option value="Xbox One">Xbox One</option>
            </select><br>
            <label id="label">Estado</label><br>
            <select v-model="newGame.state" class="form-select-sm" aria-label="Default select example" required>
                <option disabled value="">Seleccione un estado</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Jugando">Jugando</option>
                <option value="Completado">Completado</option>
            </select><br>
            <label id="label">Puntaje</label><br>
            <select v-model="newGame.score" class="form-select-sm" aria-label="Default select example">
                <option disabled value="">Seleccione un puntaje</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select><br><br>
            <button @click="addGame" class="btn btn-primary">Registrar</button><br><br>
        </div>
    </div>

    <section id="datos">
        <div class="row">
            <div class="col-md-6">
                <div id="cargados">
                    <h3><strong>Videojuegos</strong></h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Plataforma</th>
                                <th>Estado</th>
                                <th>Puntaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="game in games" :key="game.name">
                                <td>{{ game.name }}</td>
                                <td>{{ game.platform }}</td>
                                <td>{{ game.state }}</td>
                                <td>{{ game.score }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div id="resultados">
                    <h3><strong>Resultados</strong></h3>
               
                </div>
            </div>
        </div>
    </section>

</div>

<script src= "formulario.js" defer></script>

</body>
</html>

